* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 85vh;
}

div.container {
    margin: 0;
}

section {
    font-family: 'Mrs Sheppards', cursive;
position: relative;
width: 100%;
height: 100vh;
background: url(../images/SWlogo.jpg), url(../images/SWbg3.jpg);
background-repeat: no-repeat;
background-position: center;
background-blend-mode:screen;
}

section p {
    font-size: 25em;
    text-align: center;
    padding-right: 150px;
}

.brand {
background: url(../images/SWbrand.PNG);
}